.navbar-container .bg-dark{
  background-color: transparent !important;
}
.navbar-container-scroll .bg-dark{
  background-color: #003184 !important;
}

.navbar-container .nav-link, button {
  font-weight: bold;
}
.navbar-container-scroll .nav-link, button{
  font-weight: bold !important;
}